// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";
@import "bourbon";
@import "font-awesome";

body {
  //@include linear-gradient(to top, #DCDCDC, #98F5FF);
  background : url("https://images.unsplash.com/photo-1443557661966-8b4795a6f62c?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=90c9b93842dc0e7f838e81f6b1116852") ;
  //background-opacity: 0.2;

}
.fa {
  float: right;
  margin: 13px;
}
.homecontainer h2, h3, p {
  color: white;
}





.top-title {
  font-family: 'Play', sans-serif;
  margin-left: 15px;
  color: white;
}

h2 {
  font-family: 'Play', sans-serif;
  font-size: 2em;
}





