

  <div class="about-container">
  <div class="about-right">
      <h5>{{ title }}</h5>
      <img src="{{ img }}">
    </div>
    <div class="about-left">
      <ul>{{ ul }}</ul>
        <li><i class="fa fa-wrench"></i>{{ lione }}</li>
        <li><i class="fa fa-wrench"></i>{{ litwo }}</li>
        <li><i class="fa fa-wrench"></i>{{ lithree }}</li>
        <li><i class="fa fa-wrench"></i>{{ lifour }}</li>
        <li><i class="fa fa-wrench"></i>{{ lifive }}</li>
        <li><i class="fa fa-wrench"></i>{{ lisix }}</li>

        
      <p>{{ leftone }}</p>
      <p>{{ lefttwo }}</p>
      <p>{{ leftthree }}</p>
        <hr>
        {{ leftfour }}
        <hr>
      </p>
    </div>
    
  </div>
