

  <div class="contact-form">
    <h3>{{ title }}<span>{{ titletwo }}</span></h3>
  <form ng-submit="addContact(contact)">
    <input placeholder="Contact Name" ng-model="contact.name">
    <input placeholder="Company Name" ng-model="contact.company">

    <input placeholder="email" ng-model="contact.email" type="email">
    <input placeholder="phone" ng-model="contact.phone" type="tel">
    <textarea placeholder="What can we help you with?" ng-model="contact.comment"></textarea>

    <button>Submit</button>
  </form>
  </div>
