<h1 class = "top-title">J.S. <span>Hayes</span>, Inc.

  <a href="https://twitter.com/cachedconsultng"
    <i class="fa fa-twitter"></i>
  </a>
  <a href="https://www.linkedin.com/profile/view?id=AAkAAAB_yCABEzG2El9kA4CMIGDEGB6ql-JSrl0&authType=NAME_SEARCH&authToken=GmUq&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A8374304%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1447270857035%2Ctas%3Aspen"
    <i class="fa fa-linkedin-square"></i>
  </a>
  <a href="mailto:spizay@gmail.com">
    <i class="fa fa-envelope"></i>
  </a>
</h1>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">SAS Enterprise Consulting</a></h1>
    </li>
  </ul>


<section class="top-bar-section">
  <ul class="right">
    <li><a href="#/">Home</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/contact">Contact</a></li>
  </ul>
</section>
</nav>




<section class="container" ui-view></section>


<footer>
  <p>&copyright; 2015</p>
</footer>